MongoDB에 적재되어 있는 lucky_draw 데이터 불러와서 전처리

In [6]:
import pandas as pd
import pymongo
import datetime

In [7]:
    
client = pymongo.MongoClient('mongodb://skpark:sk138029@localhost:27017/')
db = client.project

# 예시 client = pymongo.MongoClient(f'mongodb://{user}:{pw}@{host}:27017/')

In [8]:
df = pd.DataFrame(db.draw.find())
df

,_id,pro_code,Release_date,Release_Price,img_url_1,img_url_2,img_url_3,img_url_4
0,Nike Air Jordan 1 High OG Utility Stash White ...,DO8727-100,2022년 08월 30일,160 GBP,https://luckydraw-media.s3.amazonaws.com/produ...,https://luckydraw-media.s3.amazonaws.com/produ...,https://luckydraw-media.s3.amazonaws.com/produ...,https://luckydraw-media.s3.amazonaws.com/produ...
1,Nike Air Jordan 4 Black and Light Steel,DH7138-006,2022년 08월 27일,210 USD,https://luckydraw-media.s3.amazonaws.com/produ...,https://luckydraw-media.s3.amazonaws.com/produ...,https://luckydraw-media.s3.amazonaws.com/produ...,https://luckydraw-media.s3.amazonaws.com/produ...

In [9]:
# 필요한 컬럼만
df1 = df.loc[:,['_id','pro_code','Release_date','Release_Price']]
df1

,_id,pro_code,Release_date,Release_Price
0,Nike Air Jordan 1 High OG Utility Stash White ...,DO8727-100,2022년 08월 30일,160 GBP
1,Nike Air Jordan 4 Black and Light Steel,DH7138-006,2022년 08월 27일,210 USD

In [10]:
# test
tmp1 = '2022년 07월 16일'
format = '%Y년 %m월 %d일'
datetime.datetime.strptime(tmp1,format)

datetime.datetime(2022, 7, 16, 0, 0)

In [11]:
pd.to_datetime(tmp1, format='%Y년 %m월 %d일')

Timestamp('2022-07-16 00:00:00')

In [12]:
# 날짜형식 전처리
def release_date(data):
    data=pd.to_datetime(data, format='%Y년 %m월 %d일')
    return data

In [13]:
# release_date 전처리
df1['release_date']= df1['Release_date'].apply(release_date)
df1 = df1.drop(columns='Release_date')
df1

,_id,pro_code,Release_Price,release_date
0,Nike Air Jordan 1 High OG Utility Stash White ...,DO8727-100,160 GBP,2022-08-30
1,Nike Air Jordan 4 Black and Light Steel,DH7138-006,210 USD,2022-08-27

In [14]:
# 공백제거
def strip_pro(data):
    data = data.strip()
    return data

In [15]:
tmp1='140 USD'
tmp2= '249,000 KRW'
tmp3='160 GBP'

In [16]:
int(tmp1.replace('USD','').strip())*1300

182000

In [17]:
int(tmp2.replace('KRW','').strip().replace(',',''))

249000

In [18]:
int(tmp3.replace('GBP','').strip())*1600

256000

In [19]:
# 발매가 전처리(환율 계산)
# 130USD ->390000 / 129,000 -> 129000
def price_pro(data):
    if 'USD' in data :
        data = int(data.replace('USD','').strip())*1300
    elif "KRW" in data :
        data = int(data.replace('KRW','').strip().replace(',',''))
    elif 'GBP' in data:
        data= int(tmp3.replace('GBP','').strip())*1600
        
    return data

In [20]:
# 계산된 전처리 발매가 컬럼 추가
df1['release_price']=df1['Release_Price'].apply(price_pro)
df1 = df1.drop(columns="Release_Price")
df1

,_id,pro_code,release_date,release_price
0,Nike Air Jordan 1 High OG Utility Stash White ...,DO8727-100,2022-08-30,256000
1,Nike Air Jordan 4 Black and Light Steel,DH7138-006,2022-08-27,273000