In [1]:
import pymongo
import pandas as pd
import re

In [2]:
file='C:/Users/psk/3rd_backup/Kream.csv'

In [3]:
df = pd.read_csv(file,index_col=0)
df

,_id,brand,kr_name,price,like,post,all_trade,link
0,Jordan 1 Retro High OG Black Mocha,Jordan,조던 1 레트로 하이 OG 블랙 모카,"600,000원",2.6만,"5,572",거래 8.8만,https://kream.co.kr/products/25922
1,Jordan 1 Mid Light Smoke Grey Anthracite,Jordan,조던 1 미드 라이트 스모크 그레이 앤트러사이트,"185,000원",5만,921,거래 3.2만,https://kream.co.kr/products/47257
2,Jordan 1 Low Golf Wolf Grey,Jordan,조던 1 로우 골프 울프 그레이,"238,000원",3만,558,거래 1.4만,https://kream.co.kr/products/48705
3,Jordan 4 Retro White and Black,Jordan,조던 4 레트로 화이트 앤 블랙,"299,000원","4,348",128,"거래 3,473",https://kream.co.kr/products/60301
4,Jordan 1 x Travis Scott x Fragment Retro Low O...,Jordan,조던 1 x 트래비스 스캇 x 프라그먼트 레트로 로우 OG SP 밀리터리 블루,"1,540,000원",2.6만,"5,346",거래 3.5만,https://kream.co.kr/products/38367
...,...,...,...,...,...,...,...,...
2988,Jordan Future Boot Platinum,Jordan,조던 퓨처 부츠 플래티넘,-,3,0,NaN,https://kream.co.kr/products/34120
2989,Jordan Jumpman 2020 White Black,Jordan,조던 점프맨 2020 화이트 블랙,-,10,0,NaN,https://kream.co.kr/products/33640
2990,(GS) Jordan Horizon Hyper Violet,Jordan,(GS) 조던 호라이즌 하이퍼 바이올렛,-,1,0,NaN,https://kream.co.kr/products/32757
2991,(TD) Jordan 3 Retro Neutral Grey,Jordan,(TD) 조던 3 레트로 뉴트럴 그레이,-,0,0,NaN,https://kream.co.kr/products/30541
2992,Jordan Alpha 1 Orange Flash,Jordan,조던 알파 1 오렌지 플래시,-,4,1,NaN,https://kream.co.kr/products/25604

In [4]:
# all trade
tmp = '거래 8.8만'

In [5]:
tmp = tmp[3:]
tmp

'8.8만'

In [6]:
# test
if '.' in tmp:
    tmp1 = tmp.replace('만','000')
tmp1.replace('.', '').replace(',', '')

'88000'

In [7]:
# all trade 전처리
# 거래 8.8만 -> 88000
def num_change(data):
    data = data[3:]
    if data == '':
        data = '0'
    if '.' in data:
        data = data.replace('만', '000')
    else:
        data = data.replace('만', '0000')
    data = data.replace('.', '').replace(',', '')
    data = int(data)
    
    return data

In [8]:
tmp1 = '2.6만'

In [9]:
# post,like 전처리
# 2.6만 -> 26000 / 3,402 -> 3402
def num_change2(data):
 
    if data == '':
        data = '0'
    if '.' in data:
        data = data.replace('만', '000')
    else:
        data = data.replace('만', '0000')
    data = data.replace('.', '').replace(',', '')
    data = int(data)
    
    return data

In [10]:
num_change2(tmp1)

26000

In [11]:
tmp2='1,540,000원'

In [12]:
tmp2[:-1].replace(',','')

'1540000'

In [19]:
# price 전처리
# 600,000원 -> 600000
def change_price(data):
    data = data.replace('-', '0')
    data = int(data.replace('원', '').replace(',', ''))
    return data

In [20]:
df2 = df.fillna('0')
df2

,_id,brand,kr_name,price,like,post,all_trade,link
0,Jordan 1 Retro High OG Black Mocha,Jordan,조던 1 레트로 하이 OG 블랙 모카,"600,000원",2.6만,"5,572",거래 8.8만,https://kream.co.kr/products/25922
1,Jordan 1 Mid Light Smoke Grey Anthracite,Jordan,조던 1 미드 라이트 스모크 그레이 앤트러사이트,"185,000원",5만,921,거래 3.2만,https://kream.co.kr/products/47257
2,Jordan 1 Low Golf Wolf Grey,Jordan,조던 1 로우 골프 울프 그레이,"238,000원",3만,558,거래 1.4만,https://kream.co.kr/products/48705
3,Jordan 4 Retro White and Black,Jordan,조던 4 레트로 화이트 앤 블랙,"299,000원","4,348",128,"거래 3,473",https://kream.co.kr/products/60301
4,Jordan 1 x Travis Scott x Fragment Retro Low O...,Jordan,조던 1 x 트래비스 스캇 x 프라그먼트 레트로 로우 OG SP 밀리터리 블루,"1,540,000원",2.6만,"5,346",거래 3.5만,https://kream.co.kr/products/38367
...,...,...,...,...,...,...,...,...
2988,Jordan Future Boot Platinum,Jordan,조던 퓨처 부츠 플래티넘,-,3,0,0,https://kream.co.kr/products/34120
2989,Jordan Jumpman 2020 White Black,Jordan,조던 점프맨 2020 화이트 블랙,-,10,0,0,https://kream.co.kr/products/33640
2990,(GS) Jordan Horizon Hyper Violet,Jordan,(GS) 조던 호라이즌 하이퍼 바이올렛,-,1,0,0,https://kream.co.kr/products/32757
2991,(TD) Jordan 3 Retro Neutral Grey,Jordan,(TD) 조던 3 레트로 뉴트럴 그레이,-,0,0,0,https://kream.co.kr/products/30541
2992,Jordan Alpha 1 Orange Flash,Jordan,조던 알파 1 오렌지 플래시,-,4,1,0,https://kream.co.kr/products/25604

In [21]:
# 전처리 종합
df2['price'] = df2['price'].apply(change_price)
df2['like'] = df2['like'].apply(num_change2)
df2['post'] = df2['post'].apply(num_change2)
df2['all_trade'] = df2['all_trade'].apply(num_change)
df2

,_id,brand,kr_name,price,like,post,all_trade,link
0,Jordan 1 Retro High OG Black Mocha,Jordan,조던 1 레트로 하이 OG 블랙 모카,600000,26000,5572,88000,https://kream.co.kr/products/25922
1,Jordan 1 Mid Light Smoke Grey Anthracite,Jordan,조던 1 미드 라이트 스모크 그레이 앤트러사이트,185000,50000,921,32000,https://kream.co.kr/products/47257
2,Jordan 1 Low Golf Wolf Grey,Jordan,조던 1 로우 골프 울프 그레이,238000,30000,558,14000,https://kream.co.kr/products/48705
3,Jordan 4 Retro White and Black,Jordan,조던 4 레트로 화이트 앤 블랙,299000,4348,128,3473,https://kream.co.kr/products/60301
4,Jordan 1 x Travis Scott x Fragment Retro Low O...,Jordan,조던 1 x 트래비스 스캇 x 프라그먼트 레트로 로우 OG SP 밀리터리 블루,1540000,26000,5346,35000,https://kream.co.kr/products/38367
...,...,...,...,...,...,...,...,...
2988,Jordan Future Boot Platinum,Jordan,조던 퓨처 부츠 플래티넘,0,3,0,0,https://kream.co.kr/products/34120
2989,Jordan Jumpman 2020 White Black,Jordan,조던 점프맨 2020 화이트 블랙,0,10,0,0,https://kream.co.kr/products/33640
2990,(GS) Jordan Horizon Hyper Violet,Jordan,(GS) 조던 호라이즌 하이퍼 바이올렛,0,1,0,0,https://kream.co.kr/products/32757
2991,(TD) Jordan 3 Retro Neutral Grey,Jordan,(TD) 조던 3 레트로 뉴트럴 그레이,0,0,0,0,https://kream.co.kr/products/30541
2992,Jordan Alpha 1 Orange Flash,Jordan,조던 알파 1 오렌지 플래시,0,4,1,0,https://kream.co.kr/products/25604

In [22]:
df2.columns

Index(['_id', 'brand', 'kr_name', 'price', 'like', 'post', 'all_trade',
       'link'],
      dtype='object')

In [23]:
df3 = df2.loc[:,['_id','price', 'like', 'post', 'all_trade']]
df3.tail()

                                   _id  price  like  post  all_trade
2988       Jordan Future Boot Platinum      0     3     0          0
2989   Jordan Jumpman 2020 White Black      0    10     0          0
2990  (GS) Jordan Horizon Hyper Violet      0     1     0          0
2991  (TD) Jordan 3 Retro Neutral Grey      0     0     0          0
2992       Jordan Alpha 1 Orange Flash      0     4     1          0

In [24]:
df3.to_csv('kream_pro.csv', index=False, encoding='cp949')